@model IEnumerable<ASP_MVC.Models.User.UserListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit",null, new { id=item.User_Id }) |
                    @Html.ActionLink("Details", null, "Details", new { id = item.User_Id }) |
                    @Html.ActionLink("Delete", null, "Delete", new { id = item.User_Id })
            </td>
        </tr>
}
    </tbody>
</table>
